In [2]:
# Importing Necessary Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from ucimlrepo import fetch_ucirepo 
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier

In [3]:
cancer = fetch_ucirepo(id=15) # Fetching & Loading the Dataset

In [6]:
X = cancer.data.features 
y = cancer.data.targets    # Dividing the features & target variables in X & Y

In [7]:
X.describe()              # describing & looking the feature data

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
count,699.000000,699.000000,699.000000,699.000000,699.000000,683.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.544656,3.437768,2.866953,1.589413
std,2.815741,3.051459,2.971913,2.855379,2.214300,3.643857,2.438364,3.053634,1.715078
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [8]:
X

,Clump_thickness,Uniformity_of_cell_size,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
0,5,1,1,1,2,1.0,3,1,1
1,5,4,4,5,7,10.0,3,2,1
2,3,1,1,1,2,2.0,3,1,1
3,6,8,8,1,3,4.0,3,7,1
4,4,1,1,3,2,1.0,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2.0,1,1,1
695,2,1,1,1,2,1.0,1,1,1
696,5,10,10,3,7,3.0,8,10,2
697,4,8,6,4,3,4.0,10,6,1
698,4,8,8,5,4,5.0,10,4,1

In [9]:
X.isnull().sum()                 # Data Preprocessing

Clump_thickness                 0
Uniformity_of_cell_size         0
Uniformity_of_cell_shape        0
Marginal_adhesion               0
Single_epithelial_cell_size     0
Bare_nuclei                    16
Bland_chromatin                 0
Normal_nucleoli                 0
Mitoses                         0
dtype: int64

In [10]:
X['Bare_nuclei'] = X['Bare_nuclei'].fillna(X['Bare_nuclei'].mean())

C:\Users\13pal\AppData\Local\Temp\ipykernel_40804\2863023789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Bare_nuclei'] = X['Bare_nuclei'].fillna(X['Bare_nuclei'].mean())

In [11]:
X.isnull().sum()

Clump_thickness                0
Uniformity_of_cell_size        0
Uniformity_of_cell_shape       0
Marginal_adhesion              0
Single_epithelial_cell_size    0
Bare_nuclei                    0
Bland_chromatin                0
Normal_nucleoli                0
Mitoses                        0
dtype: int64

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42) # Splitting the data for training & testing

In [14]:
k = 6
model = KNeighborsClassifier(n_neighbors=k)      # Creating K-NearestNeighbour model

In [15]:
model.fit(X_train, y_train)                      # Fitting the model to training data

C:\Users\13pal\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=6)

In [16]:
y_pred = model.predict(X_test)                   # Making predication on test data set

C:\Users\13pal\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [18]:
accuracy = accuracy_score(y_test, y_pred)        # Evaluating Model
confusion_matrix = confusion_matrix(y_test,y_pred)
classification_report = classification_report(y_test,y_pred)

In [32]:
print(f'Accuracy:{accuracy}\n')
print(f'Confusion_matrix:')
print(confusion_matrix)
print(f'Classification Report:\n')
print(classification_report)

Accuracy:0.9642857142857143

Confusion_matrix:
[[94  1]
 [ 4 41]]
Classification Report:

              precision    recall  f1-score   support

           2       0.96      0.99      0.97        95
           4       0.98      0.91      0.94        45

    accuracy                           0.96       140
   macro avg       0.97      0.95      0.96       140
weighted avg       0.96      0.96      0.96       140

In [33]:
# Linear Regression

In [34]:
X_final = X.drop(['Uniformity_of_cell_size'], axis=1) # Extracting target variable

In [35]:
X_final

,Clump_thickness,Uniformity_of_cell_shape,Marginal_adhesion,Single_epithelial_cell_size,Bare_nuclei,Bland_chromatin,Normal_nucleoli,Mitoses
0,5,1,1,2,1.0,3,1,1
1,5,4,5,7,10.0,3,2,1
2,3,1,1,2,2.0,3,1,1
3,6,8,1,3,4.0,3,7,1
4,4,1,3,2,1.0,3,1,1
...,...,...,...,...,...,...,...,...
694,3,1,1,3,2.0,1,1,1
695,2,1,1,2,1.0,1,1,1
696,5,10,3,7,3.0,8,10,2
697,4,6,4,3,4.0,10,6,1
698,4,8,5,4,5.0,10,4,1

In [36]:
y_final = X[['Uniformity_of_cell_size']]  # Target variable

In [37]:
y_final

     Uniformity_of_cell_size
0                          1
1                          4
2                          1
3                          8
4                          1
..                       ...
694                        1
695                        1
696                       10
697                        8
698                        8

[699 rows x 1 columns]

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X_final,y_final, test_size=0.3, random_state=13) # Splitting the data for training & testing

In [81]:
lr = LinearRegression() # Creating LinearRegression model

In [82]:
lr.fit(X_train,y_train) # Fitting the model to training data

LinearRegression()

In [83]:
pred_val = lr.predict(X_test) # Making predication on test data set

In [84]:
linear_regression_score = lr.score(X_test, y_test) # Evaluate the model
linear_regression_score

0.8196638053994414